<div *ngIf = "isPrivate == true">
    <p style="margin-left: 10px;">  User is private!</p>
    <button style="margin-left: 10px;"  mat-stroked-button (click)="follow()">Follow</button>
    <div  *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'">
        <button style="margin-left: 10px;"  mat-stroked-button color="warn" (click)="disable()">Disable</button>
    </div>

    <div  *ngIf = "user.website != ''">
        <a href="user.website">user.website</a>
    </div>
</div>

<div *ngIf = "isPrivate == false">
    <h1 style="display: flex; justify-content: center; position: relative;">{{user.username}}</h1>
    
    <div *ngIf = "isBlocked == false && iAmBlocked == false && reported == false" style="display: flex; justify-content: center; position: relative;">
        <h2 style="margin-left: 10px;">{{user.name}} {{user.surname}}</h2> 
        <button style="margin-left: 100px;" mat-stroked-button (click)="mute()">Mute</button>
       <button style="margin-left: 10px;"  mat-stroked-button (click)="block()">Block</button>
       <button style="margin-left: 10px;"  mat-stroked-button (click)="report()">Report</button>
      
       <div  *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'">
        <button style="margin-left: 10px;"  mat-stroked-button color="warn" (click)="disable()">Disable</button>
    </div>
    <div *ngIf = "notFollowing == true">
        <button style="margin-left: 10px;"  mat-stroked-button color="warn" (click)="follow()">Follow</button>
    </div>
    <div  *ngIf = "user.website != ''">
        <a href="user.website">user.website</a>
    </div>
    
</div>



<div *ngIf = "isPrivate == false && isBlocked == false && iAmBlocked == false && reported == false">

<mat-grid-list cols="4" rowHeight="400px">
    <div class="float-child card" *ngFor="let post of posts; let i = index">
      <mat-grid-tile>
        <div class="card-body" style="margin: 30px; padding: 30px; text-align: center;">
         <img [src]="post.picture" width="220" height="220"/>
          <h5 class="card-title" style="color:  #0000ff;">{{post.description}}</h5>
          <p>Likes: {{post.likedBy.length}}</p>
          <p>Dislikes: {{post.dislikedBy.length}}</p>
          <div  *ngFor="let comment of post.postComments; let i = index">
            <p>{{comment.user.username}}: {{comment.content}}</p>
          </div>
          <button mat-stroked-button color="warn" (click)="like(post.id)">Like</button> 
          <button mat-stroked-button color="warn" (click)="dislike(post.id)">Dislike</button> 
          <button mat-stroked-button color="warn" (click)="reportPost(post.id)">Report</button> 
          <button mat-stroked-button color="warn" (click)="save(post.id)">Save</button> 
          <br>
          <p>Add comment </p><input type="text" name = "addComment" [(ngModel)]="comment" >
          <button mat-stroked-button color="warn" (click)="addComment(post.id)">Submit</button> 

    </div>
       
      </mat-grid-tile>
   
    </div>
</mat-grid-list>
</div> 



    <div *ngIf = "isBlocked == true">
        <p style="margin-left: 10px;"> User is blocked!</p>
    </div>
    <div *ngIf = "iAmBlocked == true">
        <p style="margin-left: 10px;"> You are blocked!</p>
    </div>
    <div *ngIf = "reported == true">
        <p style="margin-left: 10px;">Reported!</p>
    </div>
</div>



